.initial {
  &__component {
    &--container {
      @extend .container;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &--title {
      text-align: center;
      margin-bottom: 20px;
    }

    &--image {
      width: 100%;
      max-width: 500px;
    }
  }
}
